In [108]:
import pandas as pd

In [109]:
df= pd.read_csv("/Volumes/SD_Card/hybrid_reccomendations/data/100k_a.csv", header=0, skiprows=[1,2,3])

In [110]:
print(df.head())
print(df.columns)

   Unnamed: 0  unnamed  user_id    stream_id streamer_name  time_start  \
0           3      2.0        1  33842865744      mithrain         154
1           4      3.0        1  33846768288         alptv         166
2           5      4.0        1  33886469056      mithrain         587
3           6      5.0        1  33887624992          wtcn         589
4           7      6.0        1  33890145056     jrokezftw         591

   time_stop
0        156
1        169
2        588
3        591
4        594
Index(['Unnamed: 0', 'unnamed', 'user_id', 'stream_id', 'streamer_name',
       'time_start', 'time_stop'],
      dtype='object')

In [111]:
df.drop('unnamed', axis=1, inplace=True)

In [112]:
df.columns

Index(['Unnamed: 0', 'user_id', 'stream_id', 'streamer_name', 'time_start',
       'time_stop'],
      dtype='object')

In [113]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [114]:
df.columns

Index(['user_id', 'stream_id', 'streamer_name', 'time_start', 'time_stop'], dtype='object')

In [115]:
df['user_id'].unique().shape

(100000,)

In [116]:
df.shape

(3051733, 5)

In [117]:
df.head()

   user_id    stream_id streamer_name  time_start  time_stop
0        1  33842865744      mithrain         154        156
1        1  33846768288         alptv         166        169
2        1  33886469056      mithrain         587        588
3        1  33887624992          wtcn         589        591
4        1  33890145056     jrokezftw         591        594

In [118]:
df['stream_id'].unique().shape

(739991,)

In [119]:
df['streamer_name'].unique().shape

(162625,)

In [120]:
df['streamSession_id']=df['stream_id']

In [121]:
df.head()

   user_id    stream_id streamer_name  time_start  time_stop  streamSession_id
0        1  33842865744      mithrain         154        156       33842865744
1        1  33846768288         alptv         166        169       33846768288
2        1  33886469056      mithrain         587        588       33886469056
3        1  33887624992          wtcn         589        591       33887624992
4        1  33890145056     jrokezftw         591        594       33890145056

In [122]:
df.drop('stream_id', axis=1, inplace=True)

In [123]:
df.head()

   user_id streamer_name  time_start  time_stop  streamSession_id
0        1      mithrain         154        156       33842865744
1        1         alptv         166        169       33846768288
2        1      mithrain         587        588       33886469056
3        1          wtcn         589        591       33887624992
4        1     jrokezftw         591        594       33890145056

In [124]:
df['duration_minutes'] = (df['time_stop'] - df['time_start'])*10

In [125]:
df

,user_id,streamer_name,time_start,time_stop,streamSession_id,duration_minutes
0,1,mithrain,154,156,33842865744,20
1,1,alptv,166,169,33846768288,30
2,1,mithrain,587,588,33886469056,10
3,1,wtcn,589,591,33887624992,20
4,1,jrokezftw,591,594,33890145056,30
...,...,...,...,...,...,...
3051728,100000,mckytv,3582,3583,34167930576,10
3051729,100000,natehill,3582,3583,34168288656,10
3051730,100000,fortnite,3582,3584,34169594512,20
3051731,100000,highdistortion,3709,3711,34180223072,20
3051732,100000,symfuhny,3706,3708,34181187808,20

Each 10 minutes is set to interval of 1,
so duration in minutes is calculated as (time_stop - time_start)*10
Number of intervals/ hour is 6 ---> / day is 6 multiplied to 24(144) ---> / week is 6 multiplied to 24 multiplied to 7 ---> / month is 6 multiplied to 24 multiplied to 30

0-143->Day1,
143-287->Day2,
287-431->Day3,
431-575->Day4,
575-719->Day5,-------> 43 days

In [126]:
intervals=(6*24)
df['day'] = (df['time_start']//intervals)
total_minutes = (df['time_start'] % intervals)*10
hours = (total_minutes // 60).astype(int)
minutes = (total_minutes % 60).astype(int)

# Format as an HH:MM string with leading zeros
df['starting_time_of_day_in_HH_MM'] = hours.astype(str).str.zfill(2) + ':' + minutes.astype(str).str.zfill(2)
print(df)

         user_id   streamer_name  time_start  time_stop  streamSession_id  \
0              1        mithrain         154        156       33842865744
1              1           alptv         166        169       33846768288
2              1        mithrain         587        588       33886469056
3              1            wtcn         589        591       33887624992
4              1       jrokezftw         591        594       33890145056
...          ...             ...         ...        ...               ...
3051728   100000          mckytv        3582       3583       34167930576
3051729   100000        natehill        3582       3583       34168288656
3051730   100000        fortnite        3582       3584       34169594512
3051731   100000  highdistortion        3709       3711       34180223072
3051732   100000        symfuhny        3706       3708       34181187808

         duration_minutes  day starting_time_of_day_in_HH_MM
0                      20    1                         01:40
1                      30    1                         03:40
2                      10    4                         01:50
3                      20    4                         02:10
4                      30    4                         02:30
...                   ...  ...                           ...
3051728                10   24                         21:00
3051729                10   24                         21:00
3051730                20   24                         21:00
3051731                20   25                         18:10
3051732                20   25                         17:40

[3051733 rows x 8 columns]

In [127]:
df

,user_id,streamer_name,time_start,time_stop,streamSession_id,duration_minutes,day,starting_time_of_day_in_HH_MM
0,1,mithrain,154,156,33842865744,20,1,01:40
1,1,alptv,166,169,33846768288,30,1,03:40
2,1,mithrain,587,588,33886469056,10,4,01:50
3,1,wtcn,589,591,33887624992,20,4,02:10
4,1,jrokezftw,591,594,33890145056,30,4,02:30
...,...,...,...,...,...,...,...,...
3051728,100000,mckytv,3582,3583,34167930576,10,24,21:00
3051729,100000,natehill,3582,3583,34168288656,10,24,21:00
3051730,100000,fortnite,3582,3584,34169594512,20,24,21:00
3051731,100000,highdistortion,3709,3711,34180223072,20,25,18:10
3051732,100000,symfuhny,3706,3708,34181187808,20,25,17:40

In [128]:
df.columns

Index(['user_id', 'streamer_name', 'time_start', 'time_stop',
       'streamSession_id', 'duration_minutes', 'day',
       'starting_time_of_day_in_HH_MM'],
      dtype='object')

In [134]:
streamer_features = df.groupby("streamer_name").agg(
    streamer_duration = ("duration_minutes", "sum"),
    streaming_average_duration = ("duration_minutes", "mean"),
    streamer_unique_streams = ("streamSession_id", "nunique"),
    streamer_unique_viewers = ("user_id", "nunique"),
    day = ("day", lambda X:X.max() - X.min()+1)
)

In [135]:
streamer_features

,streamer_duration,streaming_average_duration,streamer_unique_streams,streamer_unique_viewers,day
streamer_name,,,,,
0007_hot_kelly_tv,20,10.000000,2,2,3
000aikia000,10,10.000000,1,1,1
0011am,80,80.000000,1,1,1
001_ssmashh_100,50,16.666667,3,1,2
001live,10,10.000000,1,1,1
...,...,...,...,...,...
zzztantrikazzz,200,15.384615,10,5,39
zzzz1123x2018,300,20.000000,13,8,37
zzzz758,40,20.000000,2,1,2
zzzzydh,10,10.000000,1,1,1
zzzzzzzach,140,23.333333,5,2,29